# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

/yolo3/.idea/*


*.log

/yolo3/data/*

/yolo3/logs/*

/yolo3/result/*

/yolo3/result_upload/*

/yolo3/.ipynb_checkpoints/*

*.h5



